---
import Experience from '../components/Experience.astro'
import SocialGroup from '../components/SocialGroup.astro'
import Chip from '../components/Chip.astro'
import DowloadButton from '../components/DownloadButton.astro'

import photo_frame from '../assets/photo_main.svg';
import photo from '../assets/photo.webp';
import icon_mixdor from '../assets/icon_mixdor.svg';
import location from '../assets/icons/location.svg';
import android from '../assets/icons/android.svg';
import kotlin from '../assets/icons/kotlin.svg';
import java from '../assets/icons/java.svg';
import python from '../assets/icons/python.svg';
import git from '../assets/icons/git.svg';
---

<!-- <p class="code_bar">Mixdor</p> -->
<img class="code_bar" src={icon_mixdor.src} alt="Mixdor" title="Mixdor">

<div id="main_container">

	<div id="l_container" class="second_container">		
		
		<div id="photo_container_macro">
			<div class="photo_container">
		    	<img id="photo" src={photo.src} alt="Photo" fetchpriority="high" />
				<img id="photo_frame" src={photo_frame.src} alt="" fetchpriority="high" />
			</div>
		</div>

		<div class="info_card">
			
			<h1><span style="color: var(--primary_color);">Engr. </span>Luis Miguel Avila</h1>
			<h3 class="undertitle">Mobile developer</h3>

			<div id="icon_text">
				<img id="icon_location" src={location.src} alt="Location"/>
				<h3>Bogotá, Colombia </h3>
			</div>

			<SocialGroup/>

			<h2>Skills</h2>
			
			<div class="chip_container">
				
				<Chip text="Android Studio" img={android.src}/>
				<Chip text="Kotlin" img={kotlin.src}/>
				<Chip text="Java" img={java.src}/>
				<Chip text="Python" img={python.src}/>
				<Chip text="Git" img={git.src}/>

			</div>

			<h2>Resume</h2>

			<div id="curriculum_container">

				<DowloadButton text={"Download CV"} href={"pdf/Miguel Avila EN.pdf"}, download={"Miguel Avila EN.pdf"}/>

			</div>

		</div>

	</div>
	
	<div id="r_container" class="second_container">

		<Experience/>
		
	</div>

</div>
